:root {
	--g-cat-margin: var(--g-general-margin, 16px);
	--g-cat-radius: var(--g-general-radius, 16px);
}

.g-cat-selection {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--g-cat-margin);

	@media only screen and (min-width: 480px) {
		grid-template-columns: repeat(3, 1fr);
		gap: calc(var(--g-cat-margin) * 2);
	}

	@media only screen and (min-width: 782px) {
		grid-template-columns: repeat(4, 1fr);
		gap: calc(var(--g-cat-margin) * 3);
	}
}

.g-cat-thumbnail {
	display: flex;
	flex-direction: column;
	row-gap: var(--g-cat-margin);
	transition: opacity .3s;

	&:is(:hover,:focus) {
		opacity: .7;
		cursor: pointer;
	}
	* {
		margin: 0;
	}
	&__image {
		width: 100%;
		aspect-ratio: 210 / 297;
		object-fit: cover;
		border-radius: var(--g-cat-radius);
	}

	&__title {
		display: flex;
		flex-direction: column;
		border-radius: calc(var(--g-cat-radius) / 2);
	}

	&--placeholder {
		cursor: default;

		> * {
			background-color: rgba(0, 0, 0, 0.3);
			animation: g_cat_placeholder 2s infinite;
		}
	}

	&--placeholder > &__title {
		width: 75%;
		height: 1em;
	}

	@keyframes g_cat_placeholder {
		0% {
			background-color: rgba(0, 0, 0, 0.3);
		}
		50% {
			background-color: rgba(0, 0, 0, 0.1);
		}
		100% {
			background-color: rgba(0, 0, 0, 0.3);
		}
	}
}

.g-cat-catalogue-modal {
	.g-modal__content {
		overflow: hidden;
		width: calc(100% - 248px);
		max-width: unset;
		height: calc(100% - 248px);
		max-height: unset;

		@at-root .g-body--admin-bar & {
			height: calc(100% - 293px);
			margin-top: 45px;
		}
	}

	.g-cat-button {
		position: absolute;
		top: calc(50% - 50px);
		width: 30px;
		height: 60px;
		padding: 20px;
		background: rgba(0, 0, 0, 0.3);
		cursor: pointer;
		transition: padding .3s, opacity .3s;

		@at-root .g-cat-catalogue--loading ~ .g-cat-button {
			opacity: 0;
		}

		&--prev {
			left: 0;
			border-radius: 0 var(--g-cat-margin) var(--g-cat-margin) 0;

			&:hover {
				padding: 20px 30px 20px 10px;
			}
		}

		&--next {
			right: 0;
			border-radius: var(--g-cat-margin) 0 0 var(--g-cat-margin);

			&:hover {
				padding: 20px 10px 20px 30px;
			}
		}

		&--zoom {
			top: calc(50% + 66px);
			right: 0;
			border-radius: var(--g-cat-margin) 0 0 var(--g-cat-margin);

			&:hover {
				padding: 20px 10px 20px 30px;
			}

			@media (pointer: coarse) {
				display: none;
			}
		}

		* {
			stroke: #fff;
		}

		@media only screen and (max-width: 499px) {
			display: none;
		}
	}

	.g-cat-catalogue {
		overflow: hidden;

		* {
			transition: opacity .3s;
		}

		&--loading {
			* {
				opacity: 0;
			}

			&:after {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 50px;
				height: 50px;
				border: 5px solid rgba(0, 0, 0, 0.3);
				border-top-color: transparent;
				border-radius: 50px;
				content: "";
				transform: translate(-50%, -50%);
				animation: .45s g_cat_spinning linear infinite;
			}

			@keyframes g_cat_spinning {
				from {
					transform: translate(-50%, -50%) rotate(0);
				}
				to {
					transform: translate(-50%, -50%) rotate(360deg);
				}
			}
		}

		@media only screen and (max-width: 499px) {
			display: flex;
			overflow: auto;
			scroll-snap-type: x mandatory;
			align-items: center;
			height: 100%;
			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			.flipbook__page {
				width: var(--page-width) !important;
				height: auto !important;
				scroll-snap-align: start;
			}
		}
	}
}

.g-cat-swipe-hint {
	position: absolute;
	bottom: 16px;
	left: 50%;
	opacity: 0;
	transition: opacity .3s;
	transform: translateX(-50%);
	&:after {
		position: absolute;
		top: -40px;
		width: 40px;
		height: 20px;
		border-radius: 10px;
		opacity: 0;
		background: rgba(0, 0, 0, 0.3);
		content: "";
		animation: g-cat-swipe-left 5s ease-in-out 1.5s infinite;
	}
	&--visible {
		opacity: 1;
	}
	@keyframes g-cat-swipe-left {
		15% {
			right: -40px;
			opacity: 0;
		}
		30% {
			opacity: 1;
		}
		65% {
			opacity: 1;
		}
		85% {
			right: 100%;
			opacity: 0;
		}
	}
}
